h1 {
    color: #27aedb;
    text-align: center;
    }
    

button{
    color: #27aedb;
    text-align: center;
    justify-content: center;
    align-items: center;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
  }
  
  .App {
    text-align: center;
  }
  
  header {
    margin: 20px 0;
  }
  
  .btn-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .filter-btn {
    background-color: #f3f3f3;
    border: 1px solid #ddd;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .filter-btn.active {
    background-color: #ddd;
  }
  
  .dishes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .dish-item {
    background: white;
    border-radius: 5px;
    margin: 10px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 300px;
  }
  
  .photo {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 15px;
  }
  
  .item-info {
    text-align: left;
  }
  
  .item-info header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .price {
    color: #c59d5f;
  }
  
  .item-text {
    margin-bottom: 0;
  }
  